<?xml version="1.0" encoding="UTF-8"?>
<!--member_mapper.xml: 회원관련 쿼리문-->

<!DOCTYPE mapper PUBLIC "-http://mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"  >

<mapper namespace="com.proj.trade.dao.IMemberDao">
	<select id="access" parameterType="member"
	 resultType="Integer">
	 SELECT COUNT(*) FROM M WHERE M_ID=#{m_id} AND M_PWD=#{m_pwd}
	
	
	</select>
	<insert id="memberInsert" parameterType="member">
		Insert INTO M VALUES(#{m_id},#{m_pwd},#{m_name},#{m_birth},#{m_addr},#{m_phone},default)
		
	</insert>
	<select id="getSecurityPwd" parameterType="String" resultType="String">
		SELECT M_PWD FROM M WHERE M_ID=#{m_id}
	
	</select>
	<select id="getMemberInfo" parameterType="String" resultType="member">
		SELECT * FROM MINFO WHERE M_ID=#{m_id}
	</select>
	<select id="hashMapTest" parameterType="Map"
	 resultType="int">
	 	SELECT COUNT(*) FROM M WHERE M_ID=#{id} AND M_PWD=#{pw}
	 </select>
	<select id="hashMapTest2" parameterType="String"
		resultType="HashMap">
		SELECT * FROM MINFO WHERE M_ID=#{m_id}
		</select>
	
</mapper>