<?xml version="1.0" encoding="UTF-8"?>
<!--board_mapper.xml: 게시판관련 쿼리문 -->

<!DOCTYPE mapper PUBLIC "-http://mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"  >
<!-- 마이바티스 사용법 
1.parameterType에 1개의 Type만 올수 있다. 
2.위는 생략할 수 있다.(그러나 권장하지 않는다) 
3.여러개의 데이터는 빈 또는 HashMap<key,value> 객체에 저장해서 가져온다. 
4.parameterType이 변수인 #{변수명}
5.parameterType이 빈인 #{필드명}
6.parameterType이 Map인 #{key}
7.select에서 resultType에 1개의 Type만 올 수 있다. 
8.#{}:문자열인 경우 ''추가된다.aaa=>'aaa' 
9.${}:''(따옴표)없이 그대로 입력됨 -->
<mapper namespace="com.proj.trade.dao.IBoardDao">
	<select id="getNoticeList" resultType="Notice">
		<![CDATA[   
		SELECT * FROM (SELECT * FROM NOTICE ORDER BY nt_num DESC) WHERE rownum<=5
			]]>
	</select>
	<select id="getNoticeCount" resultType="int"
					parameterType="int"	>
			SELECT count(*) FROM NOTICE 
	</select>
</mapper>

