<?xml version="1.0" encoding="UTF-8"?>
<!-- Mabatis 공통적인 환경 설정 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	<!-- <typeAlias alias="member" type="com.proj.trade.bean.Member"/>
	<typeAlias alias="board" type="com.proj.trade.bean.Board"/> -->
	<package name="com.proj.trade.bean."/>
	</typeAliases>

</configuration>






